start {{ udhcpd_start }}
end {{ udhcpd_end }}
interface {{ eth2_interface }}
remaining {{ udhcpd_remaining }} 
opt dns {{ udhcpd_opt_dns }}
opt subnet {{ udhcpd_opt_subnet }}
opt router {{ udhcpd_opt_router }}
opt lease {{ udhcpd_opt_lease }}
opt domain {{ udhcpd_opt_domain }}
static_lease {{ dc_macaddress }} {{ dc_in_a }}
static_lease {{ workstation_macaddress }} {{ workstation_static_lease }}
